<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Mercury Widget" Language="1033" Version="1.0.0.0" Manufacturer="Mercury" UpgradeCode="ab66dc72-8569-4f28-bcfd-dd9b26865143">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Mercury Widget Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <UIRef Id="WixUI_Minimal" />
   
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MercuryWidget" />
      </Directory>
    </Directory>
   
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="6C4EA37E-1579-4B26-A184-691B17604137">
        <Class Id="{CBC190DB-E536-496D-9D30-D17A92782126}" Context="InprocServer32" Description="MpsWidgetHostingControl.MpsWidgetControl" ThreadingModel="both" Version="1.0" ForeignServer="mscoree.dll" Control="yes">
          <ProgId Id="MpsWidgetControl.MpsWidgetControl" Description="MpsWidgetHostingControl.MpsWidgetControl" />
        </Class>
  
        <File Id="filAssembly" KeyPath="yes" Source="$(var.MPSWidgetHostingControl.TargetPath)" Name="MpsWidgetHostingControl.dll" >
        </File>
        <File Id="filTypeLib" KeyPath="no" Source="$(var.MPSWidgetHostingControl.TargetDir)\\MpsWidgetHostingControl.tlb" Name="MpsWidgetHostingControl.tlb" >
          <TypeLib Id="{575BC868-90CB-4E3E-BF62-EA96DCFA0792}" Description="MpsWidgetHostingControl" HelpDirectory="INSTALLFOLDER" Language="0" MajorVersion="1" MinorVersion="0">
            <Interface Id="{AA0BD0C7-F453-40D1-8CAE-FEEB0B0BF63D}" Name="IMpsWidgetControlEvents" ProxyStubClassId32="{00020420-0000-0000-C000-000000000046}" />
            <Interface Id="{C2E8BBCA-5ECC-489A-9766-4A65D85609AE}" Name="IMpsWidgetControl" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
          </TypeLib>
        </File>
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32\!(bind.FileVersion.filAssembly)" Name="Class" Value="MpsWidgetHostingControl.MpsWidgetControl" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32\!(bind.FileVersion.filAssembly)" Name="Assembly" Value="MpsWidgetHostingControl, Version=!(bind.FileVersion.filAssembly), Culture=neutral, PublicKeyToken=6d715db245bb2203" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32\!(bind.FileVersion.filAssembly)" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32\!(bind.FileVersion.filAssembly)" Name="CodeBase" Value="file:///[#filAssembly]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32" Name="Class" Value="MpsWidgetHostingControl.MpsWidgetControl" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32" Name="Assembly" Value="MpsWidgetHostingControl, Version=!(bind.FileVersion.filAssembly), Culture=neutral, PublicKeyToken=6d715db245bb2203" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\InprocServer32" Name="CodeBase" Value="file:///[#filAssembly]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\MiscStatus" Value="131473" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{CBC190DB-E536-496D-9D30-D17A92782126}\TypeLib" Value="{575bc868-90cb-4e3e-bf62-ea96dcfa0792}" Type="string" Action="write" />

      </Component>
    </ComponentGroup>
  </Product>
</Wix>
